<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Document</title>
</head>

<body class="bg-gray-100 font-sans text-gray-800">
  <div class="flex flex-row justify-center pt-5 text-md text-slate-500 space-x-5">
    <button class="px-3" onclick="window.location.href='/home'">Home</button>
    <button class="px-3" onclick="window.location.href='/profile'">
      Profile
    </button>
    <form class="px-3" action="/logout">
      <input type="submit" value="Logout" />
    </form>
  </div>
  <div class="flex flex-row mx-auto  justify-center max-w-3xl pt-5">
    <div class=" justify-center  bg-white shadow rounded-lg p-4">
      <form action="<%= (typeof gameId !== 'undefined' && gameId) ? '/createLobby/' + gameId : '/createLobby' %>"
        method="POST">
        <div class="flex flex-row justify-center">

          <p1 class=" font-bold text-2xl pb-4"> Create your lobby </p1>
        </div>
        <div class="space-y-3">

          <label for="gameName">Game Name:</label>
          <input type="text" id="gameName" name="gameName" required
            class="border-1 border-gray-300 pr-8 ml-1 rounded-md"><br>

          <label for="lobbyName">Lobby Name:</label>
          <input type="text" id="lobbyName" name="lobbyName" required
            class="border-1 border-gray-300 pr-8 ml-1 rounded-md"><br>


          <label for="numPlayers">Number of Players:</label>
          <input type="number" id="numPlayers" name="numPlayers" min="2" max="10" required
            class="border-1 border-gray-300 ml-1 rounded-md"><br>

          <label for="tags">Game Tags <span class="text-slate-400 text-sm"> (hold Ctrl or Cmd to select
              multiple)</span>:</label><br>
          <select id="tags" name="tags" multiple size="3" class="border-1 border-gray-300 ml-1 rounded-md px-2">
            <option value="coop">Co-op</option>
            <option value="competitive">Competitive</option>
            <option value="casual">Casual</option>
            <option value="ranked">Ranked</option>
            <option value="custom">Custom</option>
          </select><br><br>
        </div>
        <div class="flex flex-row justify-between">

          <button type="submit" class="bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded shadow-md transition hover:scale-[1.01] ease-in-out">Create Lobby</button>
          <button onclick="window.location.href='/home'"
            class=" bg-red-500 hover:bg-red-400 text-white px-4 py-2 rounded shadow-md transition hover:scale-[1.01] ease-in-out">
            Cancel Lobby
          </button>
        </div>
    </div>






    </form>
  </div>


</body>

<% if (typeof error !=='undefined' ) { %>
  <script>
    alert("<%= error %>");
  </script>
  <% } %>


</html>