<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Description</title>
</head>

<body>
    <p1> Game Details </p1>

    <button onclick="window.location.href='/createLobby'">Create Lobby</button>
</body>

</html>