<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-100 font-sans text-gray-800">
    <!-- Nav Bar -->
    <div class="flex flex-row justify-center pt-2 pb-2 text-md text-white space-x-5 bg-[#000000] relative z-10">
        <button class="px-3 text-white" onclick="window.location.href='/home'">
            Home
        </button>
        <button class="px-3 text-white" onclick="window.location.href='/profile'">
            Profile
        </button>
        <form class="px-3 text-white" action="/logout">
            <input type="submit" value="Logout" />
        </form>
    </div>

   


</body>

</html>