<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/scripts/viewLobby.js"></script>
</head>
<body>
    <p1> Viewing others lobbies </p1>
    <div>
        <ul id="lobby-list"></ul>
    </div>


    <button onclick="window.location.href='/home'">Home</button>
</body>


<% if (typeof error !== 'undefined') { %>
    <script>
      alert("<%= error %>");
    </script>
  <% } %>
</html>